<h1 mat-dialog-title>Ustaw swój nick</h1>
<div mat-dialog-content
     class="pt-2">
    <form [formGroup]="form"
          class="row">
        <mat-form-field class="col-12">
            <mat-label>Nick</mat-label>
            <input formControlName="nick"
                   matInput
                   placeholder="Nick">
            <mat-error>
                <app-error-message [control]="form.controls.nick"></app-error-message>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions
     align="end">
    <button class="me-2"
            mat-flat-button
            [mat-dialog-close]="null"
            cdkFocusInitial>
        Anuluj
    </button>
    <button (click)="confirm()"
            mat-flat-button
            color="primary">
        Potwierdź
    </button>
</div>